---
title: Ethan's Data Den
---
<h1>Data for days</h1>
<p>
You've found my portfolio / blog containing my data analysis projects, throughout this portfolio I have used tools such as: Python Notebooks, Excel, Microsoft PowerBI, and Tableau to create imaginative data visualisations and extract valuable insights through: descriptive, predictive, diagnostic and exploritory data analysis!
</p>

<h1>Links:</h1>
<ul>
    <li><a href="https://www.linkedin.com/in/ethan-floate-0a05551b7/" class="link">LinkedIn Profile</a></li>
    <li><a href="https://public.tableau.com/app/profile/ethan.floate" class="link">Tableau Profile</a></li>
    <li><a href="https://medium.com/@ethan.floate" class="link">Medium Blog</a></li>
</ul>

<h1>Gallery:</h1>

{% for image in site.static_files %}
    {% if image.path contains 'assets/images/home' %}
        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
    {% endif %}
{% endfor %}
