---
title: Ethan's Data Den
---
<h1>Data for days</h1>
You've found my portfolio / blog containing my data analysis projects, throughout this portfolio I have used tools such as: Python Notebooks, Excel, Microsoft PowerBI, and Tableau to create imaginative data visualisations and extract valuable insights through exploritory and descriptive data analysis!

<h1>Gallery:</h1>

{% for image in site.static_files %}
    {% if image.path contains 'assets/images/home' %}
        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
    {% endif %}
{% endfor %}
