.current {
	color: green;
}
/* Base styles */

body {
  font-family: roboto;
  font-size: 1em;
  line-height: 1.5;
  color: #fff;
  background-color: #222;
  margin: 2% 10%
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: bold;
}

a {
  font-size: 1.2em;
  color: #348feb;
  text-decoration: none;
}

a:hover {
  color: #ddd;
}

nav a {
  color: #fff;
  float: left;
  font-size: 1.55em;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 7px;
  text-decoration: none;
  border-right: 1px solid #bbb;
  }

/* Content styles */

article {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  display: block;
  margin: 25px auto;
}

/* Header styles */

header {
  background-color: #333;
  padding: 20px;
}

.logo {
  float: left;
  margin-right: 20px;
}

.logo img {
  width: 100px;
}

.title {
  font-size: 24px;
  margin-top: 0;
}

/* Footer styles */

footer {
  background-color: #444;
  padding: 20px;
  text-align: center;
}

.copyright {
  font-size: 12px;
}

/* Responsive styles */

@media (max-width: 768px) {
  .logo {
    float: none;
    margin: 0 auto;
  }
}