<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Data Analysis Portfolio">
    <meta name=keywords content="Data Analysis, Blog, Data, Ethan Floate">
    <meta name="author" content="Ethan Floate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div class="nav">
      {% include navigation.html %}
    </div>
    <br>
    <br>
    <br>
    {{ content }}
  </body>
</html>